<h2>Your Followers</h2>
<p>
  <a href="#" class="listlink change_view" data-attr="users2">Change view</a>
  </p>
<div class="users2">
  <%= render :partial => 'followlist', :locals => {:f => @follow_users} %>
</div>
<div class="users2 thumb" style="display:none">
  <%= render :partial => 'followthumb', :locals => {:f => @follow_users} %>
</div>
<div class="clearfix"></div>
<div id="paginator2">
  <%= paginate @follow_users, :remote => true %>
</div>
