<div class="container footer">
    <hr class="alt" />
    <div class="row">
        <div class="span6 company">&copy; 2015 Chardik Inc.. All right reserved.</div>
        <div class="span6 terms">
            <ul>
                <li><a href="/about">About Chardik</a></li>
                <li><a href="/terms">Terms Of Service</a></li>
                <li><a href="/privacy">Privacy</a></li>
            </ul>
        </div>
    </div>
</div>