<%#= render :partial => "shared/user_profile"-%>
<div class="span12 about-wrapper">
    <div class="row">
        <div class="span3 about-title">
            <h2>About Chardik</h2>
        </div>
        <div class="span9 about-content">
            <h3>What is Chardik?</h3>
            <p>Chardik is a free service that helps people express themselves and share their lives with the world. Rather than being a passive platform for expression and sharing, we take a step forward and use state-of-the-art technologies in Natural Processing, Machine Learning, and Information Retrieval to analyze and aggregate various information about stuff people share on Chardik. We then present a summary of those information to you so that you are aware of what’s happening around you and the rest of the world.
            </p>
        </div>
      <div class="span3 about-title"></div>
        <div class="span9 about-content">
            <h3>What should I write on the status text field?</h3>
            <p>Just express yourself!<br/>
            We expect you to write status messages that express an action, an opinion, or a piece of information about yourself. A few example posts: “I love Chardik”, “I will vote for candidate X in the presidential election”, “I think the government should increase the budget for education”, “I sleep an extra 2 hours on Saturday mornings”. We understand the post better if it starts with the letter “I”, meaning it expresses something about you.</p>
        </div>
      <div class="span3 about-title"></div>
        <div class="span9 about-content">
            <h3>What information does Chardik provide after I post a status?</h3>
            <p>Chardik uses state-of-the-art Natural Language Processing and Machine Learning Technologies to understand and analyze user posts. Once analyzed, it searches for similar expressions and/or actions by other users and then it aggregates and presents those information to you.</p>
        </div>
      <div class="span3 about-title"></div>
        <div class="span9 about-content">
            <h3>What visualization options does Chardik have for displaying information?</h3>
            <p>In addition to showing the information in plain text we also provide charting options for displaying the information graphically. You can slice and dice the data based on user location, age, sex, etc. We will add many more charting options in future versions than what you see here now.
            .</p>
        </div>
        <div class="span3 about-title"></div>
        <div class="span9 about-content">
            <h3>What’s the deal with posting anonymously?</h3>
            <p>Sometimes you want to express an opinion or share a piece of information with the world but don’t want the world to know your identity. In such cases, you can simply check the “Anonymous” checkbox before posting your status. This will allow Chardik to store your information anonymously in the server. This way, people will still get to see your information, but they will do so as part of some aggregated data – there will be no identifying information associated with the information you provided.
            For example, if you write a status message saying “I will vote for candidate X in this election” and then check the “Anonymous” checkbox before posting it, then Chardik will know that “an anonymous user will vote for candidate X in this election”. You will show up as anonymous and there will be no identifying information with your status message.</p>
        </div>
        <div class="span3 about-title"></div>
        <div class="span9 about-content">
            <h3>Who are you people?</h3>
            <p>We are two people working on this project - Golam Kawsar and Siddika Chowdhury. Both of us have our day jobs, but our passion for creating something useful made us work on this project. We hope to keep working on this and make it a really useful tool for people around the world.</p>        </div>
    </div>
</div>

