<%#= render :partial => "shared/user_profile"-%>
<div class="span12 about-wrapper">
    <div class="row">
        <div class="span3 about-title">
        <h2>Chardik Privacy Policy</h2>
        </div>
        <div class="span9 about-content">
            <p>This Privacy Policy describes how and when Chardik collects, uses and shares your information when you use our Services. You send us information when you use Chardik from our website, or access Chardik from an application on a mobile device. When using any of our Services you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy. Irrespective of which country you reside in or supply information from, you authorize Chardik to use your information in the United States and any other country where Chardik operates.
            If you have any questions or comments about this Privacy Policy, please contact us at <a href ="mailto:chardik.privacy@gmail.com">chardik.privacy@gmail.com</a>.</p>
        </div>
        <div class="span3 about-title"></div>
        <div class="span9 about-content">
            <h3>Information and Content Collection and Use</h3>
            <p>We collect information about users during registration. This includes, but is not limited to - user name, email address, birthday, location, etc.

            Users share contents with us mainly in the form of status messages.

            We process user information and content in our servers and generate useful information and charts that we publish back for users.

            Users can post status messages anonymously. Anonymous posts are processed and included in the aggregated information bundle but it is not possible to identify an anonymous poster from this aggregated information bundle.

            All user posts that are not marked “Anonymous” by checking off the “Anonymous” checkbox will be public by default and other users will be able to see the post along with the name of the poster of the message.</p>
        </div>

        <div class="span3 about-title"></div>
        <div class="span9 about-content">
            <h3>Cookies and Other Technologies</h3>
            <p>Cookies are small pieces of data that are stored on your computer, mobile phone or other device. Pixels are small blocks of code on webpages that do things like allow another server to measure viewing of a webpage and often are used in connection with cookies.
            We may use technologies like cookies, pixels, and local storage (like on your browser or device, which is similar to a cookie but holds more information) to provide and understand a range of products and services.
            We use these technologies to do things like:

            make Chardik easier or faster to use;

            enable features and store information about you (including on your device or in your browser cache) and your use of Chardik;

            deliver, understand and improve advertising;

            monitor and understand the use of our products and services;
            to protect you, others and Chardik.</p>
        </div>
        <div class="span3 about-title"></div>
        <div class="span9 about-content">
            <h3>Changes to this Policy</h3>
            <p>We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at <a href="/privacy">http://www.chardik.com/privacy</a>. If we make a change to this policy that, in our sole discretion, is material, we will notify you via an update on the Chardik site or email to the email address associated with your account. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.</p>
        </div>
    </div>
</div>
