<%#= render :partial => "shared/user_profile"-%>
<div class="span12 about-wrapper">
    <div class="row">
        <div class="span3 about-title">
            <h2>Terms of Service</h2>
        </div>
        <div class="span9 about-content">
            <h3>Information and Content Collection and Use</h3>
            <p>You own all of the content and information you post on Chardik. The following rules govern all information and collection usage on Chardik:

We collect information about users during registration. This includes, but is not limited to - user name, email address, birthday, location, etc.

Users share contents with us mainly in the form of status messages.

We process user information and content in our servers and generate useful information and charts that we publish back for users.

Users can post status messages anonymously. Anonymous posts are processed and included in the aggregated information bundle but it is not possible to identify an anonymous poster from this aggregated information bundle.

All user posts that are not marked “Anonymous” by checking off the “Anonymous” checkbox will be public by default and other users will be able to see the post along with the name of the poster of the message.</p>
        </div>
        <div class="span3 about-title"></div>
        <div class="span9 about-content">
            <h3>Using the Public Beta Version of Chardik</h3>
            <p>You understand and acknowledge that the current version of Chardik is being provided as a “Public Beta”, and is made available on an “AS IS” and “AS AVAILABLE” basis for the purpose of providing Chardik with feedback on the quality and usability of the Service. The Service may contain errors or inaccuracies that could cause failures, corruption, or loss of data and/or information that you provide or the Service generates.</p>
        </div>

      <div class="span3 about-title"></div>
        <div class="span9 about-content">
            <h3>User Safety</h3>
            <p>You agree that you will NOT use the Service to:

Upload, download, post, email, transmit, store or otherwise make available any Content that is unlawful, harassing, threatening, harmful, tortious, defamatory, libelous, abusive, violent, obscene, vulgar, invasive of another’s privacy, hateful, racially or ethnically offensive, or otherwise objectionable.

Stalk, harass, threaten, or harm another.

Pretend to be anyone, or any entity, you are not — you may not impersonate or misrepresent yourself as another person (including celebrities), entity, another Chardik user, a Chardik employee, or a civic or government leader, or otherwise misrepresent your affiliation with a person or entity, (Chardik reserves the right to reject or block any username/email which could be deemed to be an impersonation or misrepresentation of your identity, or a misappropriation of another person's name or identity).

Engage in any copyright infringement or other intellectual property infringement, or disclose any trade secret or confidential information in violation of a confidentiality, employment, or nondisclosure agreement.

Post, send, transmit or otherwise make available any unsolicited or unauthorized email messages, advertising, promotional materials, junk mail, spam, or chain letters, including, without limitation, bulk commercial advertising and informational announcements.

Upload, post, email, transmit, store or otherwise make available any material that contains viruses or any other computer code, files or programs designed to harm, interfere or limit the normal operation of the Service (or any part thereof), or any other computer software or hardware.

Interfere with or disrupt the Service (including accessing the Service through any automated means, like scripts or web crawlers), or any servers or networks connected to the Service, or any policies, requirements or regulations of networks connected to the Service (including any unauthorized access to, use or monitoring of data or traffic thereon);

Plan or engage in any illegal activity; and/or
Gather and store personal information on any other users of the Service to be used in connection with any of the foregoing prohibited activities. </p>
        </div>

      <div class="span3 about-title"></div>
        <div class="span9 about-content">
            <h3>Changing the Service</h3>
            <p>Chardik reserves the right to modify, suspend or stop the Service (or any part thereof), either temporarily or permanently, at any time or from time to time, with or without prior notice to you. Without limiting the foregoing, Chardik may provide notice of any such changes to the Service by posting them on its websites and/or via the Service. You agree that Chardik shall not be liable to you or any third party for any modification or cessation of the Service. You acknowledge that Chardik has no express or implied obligation to provide, or continue to provide, the Service, or any part thereof, now or in the future; and in addition, Chardik may at any time, upon prior notice as required by applicable law, institute charges or fees for the Service.</p>
        </div>
    </div>
</div>

