<footer>
  <div class="container">
<div class="row-fluid">
	<div class="span2">
	  <p></p>
	</div><!--/span-->
	<div class="span3">
	  <ul class="unstyled">
		<li><a href="#">List 1</a></li>
		<li><a href="#">List 1</a></li>
		<li><a href="#">List 1</a></li>
	  </ul>
	</div><!--/span-->
	<div class="span3">
	  <ul class="unstyled">
		<li><a href="#">List 1</a></li>
		<li><a href="#">List 1</a></li>
		<li><a href="#">List 1</a></li>
	  </ul>
	</div><!--/span-->
	<div class="span2">
	  <ul class="unstyled">
		<li><a href="#">List 1</a></li>
		<li><a href="#">List 1</a></li>
		<li><a href="#">List 1</a></li>
	  </ul>
	</div><!--/span-->
	<div class="span2">
		<p class="pull-right copy">&copy; Chardik 2015</p>
	</div><!--/span-->
</div><!--/row-fluid-->
  </div>
</footer>